{% extends "layout1.html" %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block header %}
	<section id="header" class="alt">
		<nav style="top: 0.5em; left: 0.75em; right: auto;">
			<ul>
				<li><a><img src="{{ current_user.avatar }}" class="avatar"></a></li>
			</ul>
		</nav>
		<nav id="nav">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('account') }}" class="icon solid">Info</a></li>
				<li><a href="{{ url_for('logout') }}" class="button">Log Out</a></li>
			</ul>
		</nav>
	</section>
{% endblock %}

{% block banner %}
	<section id="banner" style="background-image: url('../static/assets/css/images/overlay.png'), url('{{ current_user.image_cover }}');">
		<h2><b style="color: white;">{{ current_user.username }}</b></h2>
	</section>
{% endblock %}

{% block main %}
	<section id="main" class="container">
<!--	Show tag-->
		<div class="box special">
			<header class="major">
				<h2>Introduction</h2>
			</header>
		</div>

<!--	Show info-->
		<div class="row">
			<div class="col-6 col-6-narrower col-6-mobilep">
				<img src="{{ current_user.avatar }}" width="40%" height="auto" style="position: relative; margin-left: 30%;">
			</div>
			<div class="col-6 col-6-narrower col-6-mobilep">
				<ul>
					<li><p><b>Name: </b> {{ current_user.username  }}</p></li>
					<li><p><b>Email: </b> {{ current_user.email }}</p></li>
					<li><p><b>Biography: </b> {{ current_user.bio }}</p></li>
				</ul>
			</div>
		</div>

		<hr>

<!--	Show button to update account-->
		<div class="col-12" style="margin: 0 0 0 16%">
			<ul class="actions">
				<li><a href="{{ url_for('update_account') }}" class="button special">Update Account</a></li>
			</ul>
		</div>

		<hr>

<!--	Show tag-->
		<div class="box special">
			<header class="major">
				<h2>Posts</h2>
			</header>
		</div>

<!--	Show table-->
		<div style="margin: 0%">
			<div class="box">
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
						{% for post in posts: %}
							<tr>
								<td><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></td>
								<td><a href="{{ url_for('delete_post', post_id=post.id) }}">✘</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
{% endblock %}