{% extends "layout1.html" %}

{% block title %}Admin{% endblock %}

{% block header %}
	<header id="header" class="alt">
		<nav style="top: 0.5em; left: 0.75em; right: auto;">
			<ul>
				<li><a><img src="{{ current_user.avatar }}" class="avatar"></a></li>
			</ul>
		</nav>
		<nav id="nav">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('admin') }}" class="icon solid">Info</a></li>
				<li><a href="{{ url_for('logout') }}" class="button">Log Out</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block banner %}
	<section id="banner">
		<h2><b style="color: white;">Admin's Blog</b></h2>
	</section>
{% endblock %}

{% block main %}
	<section class="container" id="bio">
		<section class="box special">
			<header class="major">
				<h2>Introduction</h2>
			</header>
		</section>

		<div class="row">
			<div class="col-6 col-6-narrower col-6-mobilep">
				<img src="{{ current_user.avatar }}" width="40%" height="auto" style="position: relative; margin-left: 30%;">
			</div>
			<div class="col-6 col-6-narrower col-6-mobilep">
				<ul>
					<li><p><b>Name: </b> {{ current_user.username  }}</p></li>
					<li><p><b>Email: </b> {{ current_user.email }}</p></li>
					<li><p><b>Biography: </b> {{ current_user.bio }}</p></li>
				</ul>
			</div>
		</div>

		<hr>

		<div class="col-12" style="margin: 0 0 0 16%">
			<ul class="actions">
				<li><a href="{{ url_for('update_account') }}" class="button special">Update Account</a></li>
			</ul>
		</div>

		<hr>
	</section>

	<hr>

	<section id="main" class="container">
		<section class="box special">
			<header class="major">
				<h2>All Posts</h2>
			</header>
		</section>

		<div style="margin: 0%">
			<section class="box">
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Author</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
						{% for i in range(posts|length): %}
							<tr>
								<td><a href="{{ url_for('post', post_id=posts[i].id) }}">{{ posts[i].title }}</a></td>
								<td>{{ authors[i].username }}</td>
								<td><a href="{{ url_for('delete_post', post_id=posts[i].id) }}">✘</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</section>
{% endblock %}