{% extends "layout2.html" %}

{% block title %}Reset Request{% endblock %}

{% block main %}
	<section id="main" class="container medium">
<!--	Show tag-->
		<header>
			<h2>Reset Request</h2>
		</header>

<!--	Show form-->
		<div class="box">
			<form method="post" action="">
				{{ form.hidden_tag() }}
				<div class="row gtr-50 gtr-uniform">
					<div class="col-12 col-12-mobilep">
						<p>{{ form.email.label }}</p>
						{{ form.email }}
					</div>
					<div class="col-12" style="margin: 0 0 0 0">
						<ul class="actions">
							<li><a class="button special">{{ form.submit }}</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>

	</section>
{% endblock %}